[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
django-allauth = "*"
django-rest-auth = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
