.App {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.bottomNav{
  background-image: linear-gradient(to right, #75C8AE, #ffecb4);
  margin-bottom: 0;
}

.bottomNav a{
  color: #f60d0d;
}
.homeText{
  margin-top: 2vh;
}
.menuCard{
  background-color: #75C8AE;
  box-shadow: 2px 2px 2px lightgray;
  margin-top: 2vh;
  padding: 0 0 1vh 0;
  border: 2px solid black;
  border-radius: 5px;
}

.container{
  text-align: center;
  min-height: 100vh;
}

.frontSplash{
  min-height: 80vh;
  /* background-color: #f4a127; */
  background-color: rgb(239, 250, 176);
  padding-bottom: 3vh;
}


.navRow a{
  color: #f60d0d;
}

.navRow a:active{
  color: white;
  text-decoration: none;
}

.navRow a:hover{
  color: white;
  text-decoration: none;
}


.navRow{
  background-image: linear-gradient(to right, #75C8AE, #ffecb4);
  width: 100%;
  font-size: large;
}

.splashPhoto{
  max-width: 100%;
  margin-top: 5vh;
}

.titleBanner{
  min-width: 100%;
  max-width: 100%;
}

.titleRow{
  background-image: linear-gradient(to right, #F4A127, #FFECB4);
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}


form{
  text-align: left;
}
h1{
  margin: 0 auto;
}

@media (min-width: 800px){


input{
  max-width: 30vw;
}

}