.App {
  text-align: center;
}

.bottomNav{
  margin-bottom: 0;
}
.container{
  text-align: center;
  min-height: 100vh;
  background-color: beige;
}

.frontSplash{
  min-height: 80vh;
  background-color: #FFECB4;
}

.navRow{
  color: beige;
  background-color: #75C8AE;
}

.titleRow{
  background-image: linear-gradient(#F4A127, #FFECB4);
  min-height: 15vh;
  text-align: center;
}

h1{
  margin: 0 auto;
}